body {
    background: rgb(195,34,171);
    background: linear-gradient(0deg, rgba(195,34,171,1) 0%, rgba(60,22,131,1) 78%);
}

h1 {
    background-color: rgba(47, 24, 82, 0.3);
    color: rgb(243, 231, 187);
    padding: 20px;
    font-family: fantasy;
    font-size: 25pt;
    font-weight: bolder;
    font-style: oblique;
    text-align: center;
}

#cat {
    width: 35vw;
    border-radius: 35px;
    box-shadow: 0 0 12px #fcbbff;
    display: block;
    margin: auto;
}

.poem {
    background-image: url(../assets/images/bluestars.jpeg);
    color: azure;
    height: 300px;
    width: 505px;
    margin: auto;
    border-radius: 35px;
}

h2 {
    font: bold italic larger 'Arial', Times, serif;
    text-align: center;
    padding: 12px;
    text-shadow: 0 0 15px #2f012f;
}

#poem1 {
    padding-left: 300px;
    text-shadow: 0 0 15px #2f012f;
}

#poem2 {
    padding-left: 20px;
    padding-top: 30px;
    text-shadow: 0 0 15px #2f012f;
}

.tree,
.animal,
.web {
    background-color: rgba(31, 8, 64, 0.6);
    color: rgb(255, 242, 220);
    width: 80%;
    border-radius: 35px;
    margin: auto;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 10px;
}

.web {
    font-family: 'Ruslan Display', cursive;
}