header input {
  outline: none;
  border: 2px solid rgb(182, 68, 182);
  font-size: 15px;
  padding: 10px;
  width: 200px;
  height: 100px;
  border-radius: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}
header .logo {
  color: #2e600d;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 4em;
}
header nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
header nav ul li {
  margin-left: 30px;
}
header nav ul li a {
  text-decoration: none;
  color: #6b22af;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 2px;
}
header div {
  color: #6b22af;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header div .text {
  width: 390px;
  height: 75px;
  white-space: inherit;
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: inherit;
}
header div button {
  background-color: lawngreen;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  border: 2px solid green;
  border-radius: 10px;
  width: 80px;
  height: 25px;
}
header button {
  background-color: lawngreen;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  border: 2px solid green;
  border-radius: 10px;
  width: 100px;
  height: 50px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  min-height: 409px;
  background-color: #f9f6cc;
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1080px;
}

.block-text {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ab8e69;
}
.block-text h1 {
  font-size: 18px;
}
.block-text p {
  max-width: 429px;
  width: 100%;
}
.block-text button {
  background-color: burlywood;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  border: 2px solid #be9e74;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  color: antiquewhite;
}

.block-img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media all and (min-width: 280px) and (max-width: 760px) {
  .block-img {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

img {
  width: 100%;
}

.cont {
  background-color: rosybrown;
  margin: 50px 0;
  padding: 30px;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 200px;
  height: 70px;
  text-decoration: none;
  display: inline-block;
  padding: 0 30px;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 10px;
  position: relative;
  top: 0;
}

.button_1 {
  color: aliceblue;
  background-color: #9a4da7;
  box-shadow: 0 10px 0 rgba(86, 44, 94, 0.8274509804);
  transition-duration: 0.3s;
  transition-property: all;
}

.button_1:hover {
  top: 4px;
  background-color: #674da7;
  box-shadow: 0 4px 0 rgba(44, 50, 94, 0.7607843137);
}

.button_1:active {
  background-color: #4a3879;
}

.container2 {
  background-color: burlywood;
  padding: 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  width: 300px;
  height: 80px;
  text-decoration: none;
  display: inline-block;
  padding: 0 30px;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 10px;
  position: relative;
  top: 0;
  transition-duration: 3s;
  margin-bottom: 10px;
}

.btn1 {
  color: white;
  background-color: #887091;
  transition-timing-function: ease;
}

.btn2 {
  color: white;
  background-color: #267540;
  transition-timing-function: ease-in;
}

.btn3 {
  color: white;
  background-color: #4dc04f;
  transition-timing-function: ease-out;
}

.btn4 {
  color: white;
  background-color: #c7641d;
  transition-timing-function: ease-in-out;
}

.btn5 {
  color: white;
  background-color: #3d5c80;
  transition-timing-function: linear;
}

.btn6 {
  color: white;
  background-color: #20836c;
  transition-timing-function: steps(10, start);
}

.btn7 {
  color: white;
  background-color: rgba(115, 2, 89, 0.744);
  transition-timing-function: cubic-bezier(0.48, 1.08, 0.86, -0.15);
}

.btn:hover {
  width: 800px;
}

.container3 {
  background-color: #bc8faf;
  padding: 30px;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
}

.button-link {
  position: relative;
  color: #ffffff;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: 4px;
  overflow: hidden;
  padding: 15px 30px;
  transition: 1s;
  transition-delay: 1s;
}

.button-link__line {
  position: absolute;
  display: block;
}

.button-link__line--top {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, pink);
}

.button-link:hover .button-link__line--top {
  left: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.button-link__line--bottom {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, pink);
}

.button-link:hover .button-link__line--bottom {
  right: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.button-link__line--left {
  left: 0;
  bottom: -100%;
  width: 2px;
  height: 100%;
  background: linear-gradient(270deg, transparent, pink);
}

.button-link:hover .button-link__line--left {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.button-link__line--right {
  right: 0;
  top: -100%;
  width: 2px;
  height: 100%;
  background: linear-gradient(270deg, transparent, pink);
}

.button-link:hover .button-link__line--right {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}/*# sourceMappingURL=style.css.map */