body {
    background-color: #ffffff;
}

section.welcome {
    border: 2px solid violet;
    padding: 80px 0px 0px 80px;
    display: flex;
}

.welcome-text {
    flex: 1 0 40%;
}

.logo img {
    width: 16vw;
}

.title h1 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 81px;
    font-weight: 900;
    margin-top: 150px;
    line-height: 70px;
    color: #333333;
}

.title p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    margin-top: -20px;
    color: #333333;
}

.order {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order button {
    background-color: #cf3031;
    border: 2px solid #cf3031;
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 30px 45px 0px #cf30314d;
    flex: 0 1 40%;
    height: 66px;
    gap: 10%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.order span {
    font-weight: 300;
    font-size: 12px;
}

.order button:active {
    border-color: #a11d1d;
}

.order a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #4f4f4f;
    text-decoration: none;
    display: flex;
    flex: 0 1 50%;
    justify-content: flex-start;
}

.order a:hover {
    text-decoration: underline;
}

.tomato {
    margin: 100px auto auto 50px;
}

.welcome-image {
    flex: 1 0 50%;
    position: relative;
}

.ellipsered {
    width: 51.8vw;
    position: absolute;
    margin-top: -15px;
    z-index: auto;
}

.ellipsewhite {
    width: 48vw;
    position: absolute;
    z-index: 2;
    margin: 50px 30px 50px 30px;
}

.imgpizza {
    width: 52vw;
    position: absolute;
    z-index: 4;
    margin: 5px 90px 50px -15px;
}

.plant1,
.plant2,
.chilli,
.mashroom,
.fish1,
.fish2 {
    position: absolute;
    z-index: 3;
}

.plant1 {
    margin: -40px auto auto 550px;
}

.plant2 {
    margin: 610px auto auto 140px;
}

.fish1 {
    margin: 330px auto auto -100px;
}

.fish2 {
    margin: 130px auto auto 520px;
}

.chilli {
    margin: 600px auto auto 520px;
}

.mashroom {
    margin: 80px auto auto 140px;
}

.leaf {
    margin: 770px auto auto -60px;
}

section.delivery {
    border: 2px solid rgb(85, 230, 82);
}

section.about-us {
    border: 2px solid rgb(142, 89, 212);
}